
body {
    background-color: rgb(46, 0, 183);
}

#container1 {
    width:100%;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 5vw;
}

.logo {
    margin-top: 2vw;
    max-width: 50%;
    height: auto;
  }

.title {
    text-align: center;
   
    color: white;
}

.title h1 {
    font-size: 5vw;
}

.activity {
    color: white;
    background-color: #0ad2ff;
    border-radius: 5vw;
    align-items: center;
    padding: 0.5vw;
    width: 100%;
    height: 100%;

}

.activity h1 {

        color: white;
        text-align: center;
        font-weight: 800;
        font-size: 4vw;
        font-family: 'Raleway', sans-serif;
}

.activity-gen {
    text-align: center;
    color: white;
   
}
.activity-gen h2 {
    font-size: 3vw;
    color: white;
    border-radius: 3vw;
    
}

#image {
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    margin-left: 2vw;
    margin-top: 2vw; 
}

.menu img {
    border-radius: 2vw;
    border-style: none;
    width: 100%;
    height: 100%;
}

.menu {
    border-style: none;
    padding: none;
    background-color: transparent;
    width: 8vw;
    height: 5vw;
}


.video{
    width: 800px;
    height: 450px;
    border: solid;
    border-color: white;
}

#robot {
    width: 5.5vw;
    height: 5.5vw;
    border-radius: 1.5vw;
}

.robot {
    padding-right: 0;
} 

.AI-resp{
    color: white;
    background-color: #0ad2ff;
    border-radius: 5vw;
    text-align: center;
    padding: 1vw;
}

.AI-resp h2 {
    font-size: 4vw;
}

.AI-response {
    border: solid;
    border-color: white;
    height: 100%;
    width: 100%;
    color: white;
    padding: 2vw;
    border-radius: 5vw;
 
}

.AI-response h2 {
color: #0ad2ff;
text-align: center;
margin-top: 1vw;
margin-bottom: 4vw;
font-weight: 500;
font-size: 2.5vw;
background-color: white;
border-radius: 3vw;
padding: 1vw;
}

.AI-response h3 {
    margin-bottom: 2vw;
    font-size: 2vw;
}
  
  .col-sm-12{
    margin: auto;
    padding: 0%;
  }
  
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
  
  
  html {
    height:100%;
  }
  
  
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #4361EE 50%, #B5179E 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
  
  .jumbotron{
    color: transparent;
    background-color: transparent;
  }

  @media (max-width: 575px) {
    #image {
    display: none
    }
}
