
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}



body{
margin: 0px;
height: 100%;
  background: #9e48e9;
}
.layer1{
  position: fixed;
  left: -50%;
  right: -50%;
  top: 0;
  bottom: 0;
  animation: color-animation 5s ease-in-out infinite alternate;
  background: linear-gradient(90deg, #f36cd1 50%, #3bc2b0 -50%);
  opacity: .5;
  z-index: -1;
}
.layer1{
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}
.layer2{
  animation-duration: 7s;
}
.text-area{
  position: fixed;
  top: 10%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  line-height: 80px;
}
.text-area h1{
  font-family: Arial, 'Black';
  font-weight: bolder;
  font-style: italic;
  font-size: 60px;
  letter-spacing: 5px;
  color: #fff;
  margin: 0;
  background: rgba(216, 207, 207, 0);
}
.text-area h2{
  font-family: Ranga;
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
  letter-spacing: 2px;
  color: #fff;
  margin: 0;
  background: rgb(243, 7, 7);
}

@keyframes color-animation {
  0%{
      transform: translateX(-50%);
  }
  100%{
      transform: translateX(50%);
  }
}





.btn{
  top: 100px;
right: 30%;
}


/* Effect */

.container {
  width: 100%;
  height: 100vh;
  background-image: url(background.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  max-width: 440px;
  color: #fff;
  text-align: center;
  padding: 50px 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.card h2 {
  font-size: 35px;
  font-weight: 500;
  margin-top: 20px;
}

.card p {
  font-size: 18px;
  margin: 10px auto;
  max-width: 330px;
  opacity: .8;
  line-height: 1.5em;
}

.card .social img {
  width: 40px;
  border-radius: 50%;
  margin: 10px 5px;
  transition: .5s;
  border: none;
}

.card .social img:hover {
  background: #ff01ff;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  font-weight: 500;
  background: transparent;
  color: #fff;
  padding: 10px 30px;
  margin: 30px 0 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  transition: all .4s ease-in-out;
}

.btn:hover {
  background: #ff01ff;
}

img{
  padding: 20px;

}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background: #17a2b8;
  overflow: hidden;
}
nav{
  position: absolute;
  top: 20px;
  right: 0;
  width: 80px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
}
nav .nav-content{
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);
}
.nav-content .toggle-btn,
.nav-content span a{
  height: 60px;
  width: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.nav-content .toggle-btn{
  font-size: 35px;
  color: #0e2431;
  z-index: 100;
  cursor: pointer;
  transform: rotate(-225deg);
  transition: all 0.6s ease;
}
nav.open .toggle-btn{
  transform: rotate(0deg);
}
.nav-content span{
  position: absolute;
  transition: all 0.6s ease;
  opacity: 0;
}
nav.open .nav-content span{
  transform: rotate(calc(var(--i) * (360deg/8))) translateY(120px);
  opacity: 1;
}
.nav-content span a{
  text-decoration: none;
  transform: rotate(45deg);
}
.nav-content span a i{
  font-size: 24px;
  color: #0e2431;
  transform: rotate(calc(var(--i) * (360deg/ -8)));
  opacity: 0.8;
  transition: 0.2s;
}
.nav-content span a:hover i{
  opacity: 1;
}
 

/* The flip card container */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}


.flip-card-front {
  background-color: #1b74afab;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #1b74afab;
  transform: rotateY(180deg);
}

