body{
  margin: 0;
  background: #9e48e9;
}
.layer1{
  position: fixed;
  left: -50%;
  right: -50%;
  top: 0;
  bottom: 0;
  animation: color-animation 5s ease-in-out infinite alternate;
  background: linear-gradient(90deg, #f36cd1 50%, #3bc2b0 -50%);
  opacity: .5;
  z-index: -1;
}
.layer1{
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}
.layer2{
  animation-duration: 7s;
}
.text-area{
  position: fixed;
  top: 10%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  line-height: 80px;
}
.text-area h1{
  font-family: Arial, 'Black';
  font-weight: bolder;
  font-style: italic;
  font-size: 60px;
  letter-spacing: 5px;
  color: #fff;
  margin: 0;
  background: rgba(216, 207, 207, 0);
}
.text-area h2{
  font-family: Ranga;
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
  letter-spacing: 2px;
  color: #fff;
  margin: 0;
  background: rgb(243, 7, 7);
}

@keyframes color-animation {
  0%{
      transform: translateX(-50%);
  }
  100%{
      transform: translateX(50%);
  }
}